/*------------- COLORS ------------- */

/* #419cf7 light blue
/* #1d5a80 dark blue

/*------------- BASIC SETUP  ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    background-color: #fff;
    color: #1d1d1d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

/*------------- HEADINGS ------------- */

h1, h2, h3 {
    color: #1d5a80;
    font-weight: lighter;
    margin: 0;
}

h2 {
    font-size: 405%;
}

h3 {
    font-size: 360%;
}

/*------------- REUSABLE ------------- */

section {
    padding-bottom: 125px;
}

.specification {
    font-size: 117%;
    line-height: 35px;
}

a {
    text-decoration: none;
}

/*------------- HEADER ------------- */

header {
    padding-bottom: 60px;
}

header nav {
    padding-bottom: 170px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

header nav h1 {
    background: url("img/logo.png") no-repeat;
    width: 71px;
    height: 68px;
}

header nav h1 span {
    visibility: hidden;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 35px;
}

header nav ul li a:hover {
    color: #419cf7;
}

header nav ul li:last-child a {
    border: 1px #666 solid;
    width: 165px;
    height: 43px;
    text-align: center;
    line-height: 43px;
}

header nav ul li:last-child a:hover {
    color: #fff;
    border: 1px #419cf7 solid;
    background-color: #419cf7;
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: 600;
    color: #666;
    display: block;
}

header h2 {
    padding-bottom: 125px;
}

header h2 span,
.description p a {
    color: #419cf7;
}

header p {
    font-size: 115%;
    padding-bottom: 33px;
}

.companies-links {
    font-size: 188%;
    max-width: 907px;
    font-style: italic;
    color: #1d5a80;
}

.companies-links a {
    color: #1d5a80;
    font-weight: 400;
    border-bottom: 2px solid #419cf7;
    line-height: 40px;
}

/*------------- GALLERY ------------- */

.companies-photos {
    display: grid;
    grid-template-columns: 49.5%;
    grid-gap: 13px;
}

.companies-photos .box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1.0);
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s;
}

.companies-photos [class*='col']:hover .box-img {
    transform: scale(1.1);
    opacity: 0.65;
}

.companies-photos .col-1-1 .logo-container img {
    width: 64%;
}

.companies-photos .col-2-1 .logo-container img {
    width: 80%;
}

.companies-photos .col-3-1 .logo-container img {
    width: 80%;
}

.companies-photos .col-2-2 .logo-container img {
    width: 54%;
}

.companies-photos [class*='col'] {
    overflow: hidden;
    background-color: #000;
    position: relative;
}

.companies-photos [class*='col'] .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
}

.companies-photos .col-1-1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.companies-photos .col-2-1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.companies-photos .col-3-1 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.companies-photos .col-2-2 {
    grid-column: 2/4;
    grid-row: 2/3;
}

/*------------- DESCRIPTION ------------- */

.description {
    display: flex;
}

.description h3 {
    padding-bottom: 40px;
}

.description div:first-child {
    flex: 0 0 65%;
}

.description-links-container {
    padding-top: 53px;
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
}

.description div:last-child a {
    display: block;
    color: #1d5a80;
    font-weight: 400;
    font-size: 200%;
    line-height: 40px;
}

/*------------- SLIDE SHOW ------------- */

.hq-slides {
    opacity: 0;
    transition: opacity .5s ease-in;
    position: absolute;
}

.slideshow {
    height: 500px;
    box-sizing: content-box;
}

.slideshow-container {
    position: relative;
}

.hq-slides {
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 500px;
}

.offices-descriptions {
    width:500px;
    box-sizing: content-box;
    padding: 0 74px 0 74px;
}

.offices-descriptions .map-image {
    width: 100%;
    margin-bottom: 10px;
}

.hq-slides p {
    text-align: center;
}

.hq-slides p img {
    width: 16px;
}

.hq-slides .hq-description {
    font-size: 260%;
}

.hq-slides .hq-office {
    font-size: 100%;
    margin-top: 48px;
}

.bricks-slide {
    background-image:linear-gradient(to left,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("img/bricks-slide.jpg");
}

.mill-slide {
    background-image:linear-gradient(to left,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("img/mill-slide.jpg");
}

@media (max-width: 945px) {

    .companies-photos {
        grid-template-rows: 0.4fr 0.5fr 0.4fr;
    }

    .companies-photos .col-1-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .companies-photos .col-2-1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .companies-photos .col-3-1 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .companies-photos .col-2-2 {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}









